.form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .input{
        border: 1px solid rgb(0, 119, 255);
        padding: 20px 20px 10px 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
    }

    .button{
        border: none;
        background-color: rgb(0, 119, 255);
        padding: 10px 20px;
        border-radius: 12px;
        color: #f1f1f1;

    }

    
}